.centre {
    text-align: center;
    color: black;
}



.img_centre{
    text-align: center;
    line-height: 800px;
    /*color: #F7F2DD;*/
    color: #E6E6E6;
    z-index: -1;
    font-size: 45px;
    
}

.img_centre_2{
    text-align: center;
    
    /*color: #F7F2DD;*/
    line-height: 400px;
    color: #E6E6E6;
    z-index: -1;
    font-size: 40px;
    
}

.main-body {
    z-index: 9999;
    background-color: #F7F2DD;
    scroll-behavior: smooth;
}



html {
    scroll-behavior: smooth;
  }

.centre_div {
    
    margin: auto;
    width: 55%;
    
    padding: 300px 50px 20px 50px;
    
    min-height: 70%;
}

.bgimg-1, .bgimg-2 {
    position: relative;
    
}


.bgimg-1::before {
    content: '';
    background-attachment: fixed;
    
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: brightness(40%);
    background-image: url('landing_img.jpg');
    position:absolute;
    width: 100%;
    min-height: 130%;
    
    
}


.bgimg-2::before {
    content: '';
    background-attachment: fixed;
    
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: brightness(40%);
    
    background-image: url('GreatWallHealthCentre(1-2)1395h1.jpg');
    position:absolute;
    width: 100%;
    min-height: 100%;
    background-position: center;
    
}

.bgimg_inside {
    position: relative;
}



h1 {
    padding:0;
    margin:0;
    
}


body {
    margin: 0;
    background: white;
    font-family: 'monospace', 'Courier New', Courier, monospace;
    font-weight: 400;
}

header {
    background: #137F50;
    text-align: center;
    position:fixed;
    z-index: 999;
    width: 100%
}


/* -- Navigation bar --*/
.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    
    padding: 10px 0;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo:hover {
    filter:brightness(70%);
    transition: all ease-in-out 200ms;
}

.nav-toggle {
    /* hides checkbox mechanic*/
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display:block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position:absolute;
}

.nav-toggle-label span::before {
    bottom :7px;
}

.nav-toggle-label span::after {
    top :7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #137F50;
    width: 100%;
    transform: scale(1,0); /*could be done with just display none but doesnt allow for cool transitions*/
    transform-origin: top; /* now transiton is coming from the top of logo instead of center*/
    transition: 300ms ease-in-out;
}

nav ul { 
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left:  1em;


}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

nav a:hover {
    color: rgb(0, 217, 255);
}

/* the ~ is looking for the sibling of nav-toggle
so looking at the html, after the class is there a nav? */

.nav-toggle:checked ~ nav {
    transform: scale(1,1); /*could be done with just display block but doesnt allow for cool transitions*/
}


.nav-toggle:checked ~ nav  a{
    opacity: 1;
    transition: opacity 200ms ease-in-out 250ms;
}

/*Contact section*/


/* for larger screens */
@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        /* fr is a fraction unit, chreating left over space on the left and right*/
        
    }
    
    .logo {
       grid-column: auto; 
    }

    .img_centre{
        font-size: 70px;
    }

    .img_centre_2{
        font-size: 40px;
    }

    .bgimg-1::before {
        
        min-height: 115%;
        
    }

    .bgimg-2::before {
        
        min-height: 100%;
        
    }

    .centre_div {
        padding: 135px 50px 50px 50px;

    }
    
    

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    nav ul {
        display: flex;
        justify-content:flex-end;
        
    }

    nac li {
        margin-left: 3em;
        margin-bottom: 0 ;
        
    }

    nav a {
        opacity: 1;
        padding: 0 30px 0 30px;
    }
}

